<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>PreTeXt Init - {{ title }}</title>
    {% else %}
    <title>PreTeXt Init</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}">\x3C/script>')</script>
    </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
