{% extends "base.html" %}

{% block content %}
<h1>Initialize your project</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.project_title.label }}<br>
        {{ form.project_title(size=32) }}
    </p>
    <p>
        {{ form.project_subtitle.label }}<br>
        {{ form.project_subtitle(size=32) }}
    </p>
    <p>
        {{ form.project_edition.label }}<br>
        {{ form.project_edition(size=32) }}
    </p>
    <p>
        {{ form.project_copyright_year.label }}<br>
        {{ form.project_copyright_year(size=32) }}
    </p>
    <p>
        {{ form.project_copyright_holder.label }}<br>
        {{ form.project_copyright_holder(size=32) }}
    </p>
    <p>
        {{ form.project_license.label }}
        {{ form.project_license }}
    </p>
    {% for author_entry_form in form.authors %}
    {{ author_entry_form.hidden_tag() }}
    Author #{{ loop.index }}
        <div>{{ author_entry_form.author_name.label }}</div>
        <div>{{ author_entry_form.author_name(size=32) }}</div><br>
        <div>{{ author_entry_form.author_institution.label }}</div>
        <div>{{ author_entry_form.author_institution(size=32) }}</div><br>
        <div>{{ author_entry_form.author_department.label }}</div>
        <div>{{ author_entry_form.author_department(size=32) }}</div><br>
        <div>{{ author_entry_form.author_email.label }}</div>
        <div>{{ author_entry_form.author_email(size=32) }}</div><br>
    {% endfor %}    
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}