{% extends "base.html" %}

{% block content %}
<h1>Initialize your project</h1>
{% if form.errors %}
{{ form.errors }}
{% endif %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#metadata">Metadata</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#authors">Author(s)</a></li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#outline">Outline</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#copyright">Copyright</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#settings">Settings</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="metadata" class="tab-pane container active">
                <h3>Metadata</h3>
                <div class="form-group">
                    {{ form.project_title.label }}
                    {{ form.project_title(size=32,class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.project_subtitle.label }}
                    {{ form.project_subtitle(size=32,class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.project_edition.label }}
                    {{ form.project_edition(size=32,class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.project_date.label }}
                    {{ form.project_date(size=32,class_="form-control") }}
                </div>
            </div>
            <div id="authors" class="tab-pane container fade">
                <h3>Author(s)</h3>
                {% for author_entry_form in form.authors %}
                {{ author_entry_form.hidden_tag() }}
                Author #{{ loop.index }}
                <div>{{ author_entry_form.author_name.label }}</div>
                <div>{{ author_entry_form.author_name(size=32,class_="form-control") }}</div><br>
                <div>{{ author_entry_form.author_institution.label }}</div>
                <div>{{ author_entry_form.author_institution(size=32,class_="form-control") }}</div><br>
                <div>{{ author_entry_form.author_department.label }}</div>
                <div>{{ author_entry_form.author_department(size=32,class_="form-control") }}</div><br>
                <div>{{ author_entry_form.author_email.label }}</div>
                <div>{{ author_entry_form.author_email(size=32,class_="form-control") }}</div><br>
                {% endfor %}
            </div>
            <div id="outline" class="tab-pane container fade">
                <h3>Outline</h3>
                <script type="text/javascript">
                    function changeLevel(index,delta) {
                        eltId = 'divisions-'+index+'-level'
                        elt = document.getElementById(eltId);
                        val = parseInt(elt.value);
                        val += delta;
                        if (val < 1) { val=1; }
                        elt.value = val;
                        // adjust width of column
                        spacer = document.getElementById("divisions-"+index+"-spacer")
                        spacerWidth = val+1;
                        spacer.className = "col-" + spacerWidth
                    }
                </script>
                <div class="form-group">
                    {{ form.project_has_parts }}
                    {{ form.project_has_parts.label}}
                </div>
                {% for division_form in form.divisions %}
                {{ division_form.hidden_tag() }}
                <div class="form-group row">
                    <div class="col-2">
                        <button type="button" class="btn btn-light" onclick="changeLevel( {{ loop.index0 }}, 1)">&gt;</button>
                        <button type="button" class="btn btn-light" onclick="changeLevel( {{ loop.index0 }},-1)">&lt;</button>
                        <button type="button" class="btn btn-light">-</button>
                    </div>
                    <div class="col-2" id="divisions-{{ loop.index0 }}-spacer">{{ division_form.title.label }}</div>
                    <div class="col">
                        {{ division_form.title(size=32,class_="form-control") }}
                        {{ division_form.level }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="copyright" class="tab-pane container fade">
                <h3>Copyright</h3>
                <div class="form-group">{{ form.project_copyright_year.label }}
                    {{ form.project_copyright_year(size=32,class_="form-control") }}
                </div>
                <div class="form-group">{{ form.project_copyright_holder.label }}
                    {{ form.project_copyright_holder(size=32,class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.project_license.label }}
                    {{ form.project_license }}
                </div>
            </div>
            <div id="settings" class="tab-pane container fade">
                <div class="form-group">
                    {{ form.project_chunk.label }}
                    {{ form.project_chunk }}
                </div>
            </div>
        </div>
        {{ form.submit(class_="btn btn-primary") }}
    </div>
</form>
{% endblock %}