{% extends "base.html" %}

{% block content %}
<h1>Initialize your project</h1>
{% if form.errors %}
{{ form.errors }}
{% endif %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#metadata">Metadata</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#authors">Author(s)</a></li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#outline">Outline</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#copyright">Copyright</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#settings">Settings</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="metadata" class="tab-pane container active">
                <h3>Metadata</h3>
                <div class="form-group">
                    {{ form.project_title.label }}
                    {{ form.project_title(size=32,class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.project_subtitle.label }}
                    {{ form.project_subtitle(size=32,class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.project_edition.label }}
                    {{ form.project_edition(size=32,class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.project_date.label }}
                    {{ form.project_date(size=32,class_="form-control") }}
                </div>
            </div>
            <div id="authors" class="tab-pane container fade">
                <h3>Author(s)</h3>
                {% for author_entry_form in form.authors %}
                {{ author_entry_form.hidden_tag() }}
                Author #{{ loop.index }}
                <div>{{ author_entry_form.author_name.label }}</div>
                <div>{{ author_entry_form.author_name(size=32,class_="form-control") }}</div><br>
                <div>{{ author_entry_form.author_institution.label }}</div>
                <div>{{ author_entry_form.author_institution(size=32,class_="form-control") }}</div><br>
                <div>{{ author_entry_form.author_department.label }}</div>
                <div>{{ author_entry_form.author_department(size=32,class_="form-control") }}</div><br>
                <div>{{ author_entry_form.author_email.label }}</div>
                <div>{{ author_entry_form.author_email(size=32,class_="form-control") }}</div><br>
                {% endfor %}
            </div>
            <div id="outline" class="tab-pane container fade">
                <h3>Outline</h3>
                <div class="form-group">
                    {{ form.project_has_parts }}
                    {{ form.project_has_parts.label}}
                </div>
                {% for division_form in form.divisions %}
                <div class="form-group row" data-toggle="division-row">                    
                    <div class="col-2">
                        <button type="button" class="btn btn-light" data-toggle="increment-level" data-target="#divisions-{{loop.index0}}-level">&gt;</button>
                        <button type="button" class="btn btn-light" data-toggle="decrement-level" data-target="#divisions-{{loop.index0}}-level">&lt;</button>
                        <button type="button" class="btn btn-light">-</button>
                    </div>
                    <div class="col-1">
                        {# This renders not only the CSRF tag but the "level" hidden field #}
                        {{ division_form.hidden_tag() }}
                    </div>
                    <div class="col">
                        {{ division_form.title(size=16,class_="form-control") }}
                    </div>
                </div>
                {% endfor %}
                <button type="button" data-toggle="outline-add-row" data-target="#outline" class="btn btn-light">Add row</button>
            </div>
            <div id="copyright" class="tab-pane container fade">
                <h3>Copyright</h3>
                <div class="form-group">{{ form.project_copyright_year.label }}
                    {{ form.project_copyright_year(size=32,class_="form-control") }}
                </div>
                <div class="form-group">{{ form.project_copyright_holder.label }}
                    {{ form.project_copyright_holder(size=32,class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.project_license.label }}
                    {{ form.project_license }}
                </div>
            </div>
            <div id="settings" class="tab-pane container fade">
                <div class="form-group">
                    {{ form.project_chunk.label }}
                    {{ form.project_chunk }}
                </div>
            </div>
        </div>
        {{ form.submit(class_="btn btn-primary") }}
    </div>
</form>
{# Learned this from https://gist.github.com/kageurufu/6813878/ #}
<script type="text/javascript">
    $(function() {
        $("#outline").each(function() {
            // console.log($(this));
            var $this = $(this);
                
            $this.find("button[data-toggle='increment-level']").click(function(){
                // console.log($(this));
                var target = $($(this).data("target"))[0];
                target.value = parseInt(target.value)+1;
                target.parentElement.className = 'col-' + target.value;
            });

            $this.find("button[data-toggle='decrement-level']").click(function(){
                var target = $($(this).data("target"))[0];
                var newval = parseInt(target.value)-1;
                if (newval < 1) { newval = 1; }
                target.value = newval;
                // TODO: use .change() to make this DRY
                target.parentElement.className = 'col-' + target.value;
            });

            //Add new entry 
            $this.find("button[data-toggle='outline-add-row']").click(function(){
                var target = $($(this).data("target"));
                var oldrow = target.find("div[data-toggle='division-row']:last");
                console.log(oldrow);
                var row = oldrow.clone(true, true); 
                // update ids

                var elem_id = row.find(":input")[0].id;
                var elem_num = parseInt(elem_id.replace(/.*-(\d{1,4})-.*/m, '$1')) + 1;
                // row.attr('data-id', elem_num);
                row.find(":input").each(function() {
                    console.log(this);
                    if (this.hasAttribute('id')) { // if this has attr 'id' ...
                        id_num = parseInt(this.id.replace(/.*-(\d{1,4})-.*/m, '$1'));
                        console.log("id_num=" + id_num);
                        var new_id = $(this).attr('id').replace('-' + (id_num) + '-', '-' + (id_num+1) + '-');
                        console.log("new_id=" + new_id);
                        $(this).attr('name', new_id).attr('id', new_id);
                    }
                    if (this.hasAttribute('data-target')) { 
                        id_num = parseInt($(this).attr('data-target').replace(/.*-(\d{1,4})-.*/m, '$1'));
                        var new_id = $(this).attr('data-target').replace('-' + (id_num) + '-', '-' + (id_num+1) + '-');
                        $(this).attr('data-target', new_id);
                    }
                    // .val('').removeAttr("checked");
                });
                oldrow.after(row);
            });

        });
    });
</script>
{% endblock %}